body {
  font-family: helvetica, arial;
}

#container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

#editor {
  height: 500px;
  border: 1px solid black;
  padding: 10px;
}

#toolbar ul {
  /* Just used as a quick and dirty clearfix */
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}

#toolbar li {
  float: left;
  margin-right: 20px;
  cursor: pointer;

  /* Button style from here: http://hellohappy.org/css3-buttons/ */
  background-color: #a5b8da;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
  background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
  background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
  background-image: linear-gradient(top, #a5b8da, #7089b3);
  border-top: 1px solid #758fba;
  border-right: 1px solid #6c84ab;
  border-bottom: 1px solid #5c6f91;
  border-left: 1px solid #6c84ab;
  -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
  box-shadow: inset 0 1px 0 0 #aec3e5;
  color: #fff;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 8px;
  text-align: center;
  text-shadow: 0 -1px 1px #64799e;
  text-transform: uppercase;
}

#toolbar li:hover,
#toolbar li.active {
  background-color: #9badcc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
  background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
  background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
  background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
  background-image: -o-linear-gradient(top, #9badcc, #687fa6);
  background-image: linear-gradient(top, #9badcc, #687fa6);
  border-top: 1px solid #6d86ad;
  border-right: 1px solid #647a9e;
  border-bottom: 1px solid #546685;
  border-left: 1px solid #647a9e;
  -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
  box-shadow: inset 0 1px 0 0 #a5b9d9;
}
